// --------------------------------------------------------------------
// Font Families
// --------------------------------------------------------------------
// See also:
// Font scale - https://www.layoutgridcalculator.com/typographic-scale/
// Modular Type scale - https://webdesign.tutsplus.com/articles/how-to-establish-a-modular-typographic-scale--webdesign-14927

/// @group Typography
$font-sans: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
/// @group Typography
$font-sans-heading: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
/// @group Typography
$font-code: 'Fira Code', monospace;

// --------------------------------------------------------------------
// Colors
// --------------------------------------------------------------------
// This is the default color palette. These variables can be plugged in
// anywhere in the SCSS files for easy theming.
// --------------------------------------------------------------------

/// <div style="background-color: hsl(0, 80%, 67%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-brand: hsl(0, 80%, 67%);

/// <div style="background-color: hsl(217, 89%, 61%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-primary: hsl(217, 89%, 61%);

/// <div style="background-color: hsl(280, 50%, 60%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-secondary: hsl(280, 50%, 60%);

/// <div style="background-color: hsl(0, 0%, 97%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-light: hsl(0, 0%, 97%);

/// <div style="background-color: hsl(0, 0%, 11%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-dark: hsl(0, 0%, 11%);

/// <div style="background-color: hsl(0, 0%, 37%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-grey: hsl(0, 0%, 37%);

/// <div style="background-color: hsl(144, 100%, 39%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-success: hsl(144, 100%, 39%);

/// <div style="background-color: hsl(196, 77%, 55%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-info: hsl(196, 77%, 55%);

/// <div style="background-color: hsl(0, 100%, 63%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-danger: hsl(0, 100%, 63%);

/// <div style="background-color: hsl(40, 100%, 60%); border-radius: 4px; width: 50px; height: 50px"></div>
/// @group Colors
$color-warning: hsl(40, 100%, 60%);

// --------------------------------------------------------------------
// General Sizing
// --------------------------------------------------------------------
// This is the default sizing scale system. Sizes are based around a 16px
// base size with a 1.25 (Major Third) ratio for a pleasing consistency.
// Change the $size-ratio variable to easy adjust sizes throughout your
// project.
// --------------------------------------------------------------------

/// The base ratio that forms the increment of the sizing scale. Default
/// is based on 1.25 Major Third interval.
/// @group Sizing
$size-ratio: 1.25;

/// The base unit size that defines the rest of the sizing scale sizes.
/// Default is 16px.
/// <div style="font-size: $size-9">This is the base size</div>
/// @group Sizing
$size-base: 16px !default;

/// @group Sizing
$size-1: (($size-base / $size-ratio) / $size-ratio) / $size-ratio;

/// @group Sizing
$size-2: ($size-base / $size-ratio) / $size-ratio;

/// @group Sizing
$size-3: $size-base / $size-ratio;

/// @group Sizing
$size-4: $size-base;

/// @group Sizing
$size-5: $size-4 * $size-ratio;

/// @group Sizing
$size-6: $size-5 * $size-ratio;

/// @group Sizing
$size-7: $size-6 * $size-ratio;

/// @group Sizing
$size-8: $size-7 * $size-ratio;

/// @group Sizing
$size-9: $size-8 * $size-ratio;

/// @group Sizing
$size-10: $size-9 * $size-ratio;

/// @group Sizing
$size-11: $size-10 * $size-ratio;

/// @group Sizing
$size-12: $size-11 * $size-ratio;
