.flex-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: $size-3 2fr 1fr $size-3;
  grid-template-rows: $size-3 repeat(3, 1fr) $size-3;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

// Note grid columns 1 and 4 are acting as a border here and aren't for content

.grid-column-2 {
  grid-column: 2;
}
.grid-column-3 {
  grid-column: 3;
}
